body,button,input{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 72px 140px 0;
}
h1{
    font-weight: 800;
    font-size: 74px;
}
#control{
    display: inline-block;
    width: 46%;
    border-right: 1px solid rgba(0,0,0,0.5);
    padding-bottom: 42px;
    padding-right: 42px;
}
.input-group{
    margin: 26px 0;
}
label{
    display: inline-block;
    width: 24%;
    font-weight: 200;
    font-size: 30px;
    padding: 12px;
}
input{
    width: 60%;
    font-size: 30px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-left: 6px;
    font-weight: 200;
    outline: none;
}
input:disabled{
    background-color: white;
    opacity: 0.6;
}
button{
    padding: 12px 62px;
    background-color: #222;
    color: white;
    border: none;
    outline: none;
}
button:hover{
    opacity: 0.9;
}
button:disabled{
    opacity: 0.3;
}
h2{
    display: inline-block;
    font-weight: 200;
    font-size: 144px;
    margin: 12px 0;
    padding-left: 100px;
    vertical-align: top;
}
@media(max-width: 1300px) {
    body{
        margin-left: 100px;
        margin-right: 10px;
    }
    h1{
        margin-left: 20px;
    }
    button{
        width: 100%;
        margin-bottom: 1px;
    }
    h2{
        display: inline;
        font-size: 100px;
        padding-left: 30px;
    }
    label{
        font-size: 20px;
    }
}
@media (max-width: 700px) {
    #control{
        width: 100%;
    }
    button{
        width: 50%;
    }
    h2{
        display: inline;
        font-size: 100px;
        padding-left: 30px;
    }
}